/*//////////////////  SMALL DISPLAYS ////////////////////// */

/* Profile section */

@media only screen and (orientation:portrait){
    .Card {
        margin-bottom: 1vh;
    }

    .Card_header {
        font-weight: bold;
        width: 72%;
    }
      
    .Card_img{
        width: 39vh;
        height: 22vh;
        position: relative;
    }
}