/* 
  Styles for non-vertical screen
*/

/******** General Styles (Applies for all pages) ********/
.html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
}

/* Links */
a {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.mark_text {
  background-color: rgba(104, 103, 103, 0.514);
  color: rgb(240, 240, 240);
  margin-bottom: 0.5vh;
}

/* MX flag gif */
.Flag_gif {
  position: relative;
  height: 3vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #8d8d8d8e;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8fbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #55555588;
}

hr {
  border-width: 1px;
  margin-top: -1vh;
}
/*******************************************************/

/* ////// All related to profile header ////// */

/* Text style for name and job title */
header {
  width: 100%;
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 7vh;
  margin-bottom: 2%;
}

/* Text style for name and job title */
.Header_profileContainer {
  width: 100%;
  margin-top: 1%;
  display: inline-block;
  text-align: center;
}

/* Profile image */
.profileContainer_imgContainer {
  flex-shrink: 0;
}

.profileContainer_imgContainer_img {
  width: 18vh;
  border-radius: 50%;
}

.profileContainer_nameCareer {
  margin-top: -4.2vh;
}

.profileContainer_name {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 3.4vh;
  font-weight: bold;
}

.profileContainer_career {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2.2vh;
  margin-top: -3vh;
}

.profileContainer_menu {
  margin-top: -2vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.profileContainer_menu_text {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2.2vh;
  margin-top: vh;
}

.profileContainer_menu_nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -0.3vh;
  margin-bottom: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.9vh;
}

.profileContainer_menu_nav a{
  color: #eeeeee;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: -2vh;
}

.profileContainer_menu_nav hover{
  color: #b41e1eff;
}

.Profile_container_contactAndMedia {
  text-align: center;
  margin-top: -3.4vh; 
  margin-bottom: 2vh;
}

.Profile_container_contactAndMedia_content_icon {
  height: 2.8vh;
  display: inline-block;
}

.Profile_container_summary {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2vh;
}

/*******************************************************/

.Section_header_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
  font-style: italic;
  color: #eeeeee;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.AboutMe_header {
  height: auto;
  width: 66%;
  display: inline-block;
  border-radius: 1vh;
  text-align: center;
  background-color: #231653b1;
}

.AboutMe_header:hover {
  background-color: #2a1a63b1;
  color: #cf0287;
  cursor: pointer;
  border-style:solid;
  border-width: 1px;
}

.AboutMe_content {
  height: auto;
  border-radius: 2vh;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #231653b1;
  color: #eeeeee;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.Projects_header {
  height: auto;
  width: 66%;
  display: inline-block;
  border-radius: 1vh;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
  font-style: italic;
  background-color: #2092acb1;
  color: #eeeeee;
}

.Projects_header:hover {
  background-color: #23a1bdb1;
  color: #cf0287;
  cursor: pointer;
  border-style:solid;
  border-width: 1px;
}

.Projects_content {
  height: auto;
  border-radius: 2vh;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #2092acb1;
  color: #eeeeee;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.Education_header {
  height: auto;
  width: 66%;
  display: inline-block;
  border-radius: 1vh;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
  font-style: italic;
  background-color: #012657b1;
  color: #eeeeee;
}

.Education_header:hover {
  background-color: #013374b1;
  color: #cf0287;
  cursor: pointer;
  border-style:solid;
  border-width: 1px;
}

.Education_content {
  height: auto;
  border-radius: 2vh;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #012657b1;
  color: #FFF;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.Card_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.Card_container_longer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.Card_container_longer_longer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.Card_container_img{
  width: 39vh;
  height: 22vh;
  display:inline;
}

.Card_container_text{
  width: 40%;
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.Card_container_vid{
  position: relative;
  width: 39vh;
  height: 22vh;
}

.Card_container_vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Card_container_badge {
  color: #4a544c;
  height: 16vh;
  position: relative;
  left: 30%;
  margin-bottom: 4vh;
  display: flex;
}

.Card_container_badge_img {
  color: #4a544c;
  height: 16vh;
  position: relative;  
  display: flex;
}

.Card_container_text_info{
  width: 40%;
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.4vh;
}

.Card_container_badge_info{
  width: 40%;
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.4vh;
  padding-top: 6.4vh;
}

/* ////// END profile header ////// */

/* Background attribution */
.BackgroundAttrib_container {
  width: 100%;
  margin-top: 3vh;
  display: inline-block;
}

.BackgroundAttrib_text {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1vh;
  font-style: italic;
}

/*******************************************************/

* {
  box-sizing: border-box;
}
