.html,body{
  width: 97.8vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#lorem{
 width: 90%;
 margin: auto;
 padding: 10px;
}

a{
 color: #FFF;
 text-decoration:underline;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
}

p{
 text-align: justify;
}

header{
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
 font-size: 7vh;
 margin-bottom: -2vh;
}

footer{
 text-align: center;
 position: relative;
 top: 6vh;
 font-size: 1vh;
}

.img_profile{
 width: 24vh;
 border-radius: 100%;
}

.article_bio{
 position: relative;
 text-align: left;
 left: 12vw;
 top: 10vh;
 width: 34vw;
 margin-bottom: -9vh;
 margin-top: -6vh;
}

.article_projects{
  margin-top: 5vh;
  position: relative;
  text-align: left;
  left: 12vw;
  width: 36vw;
  top: 3vh;
}

.article_individual{
  position: relative;
  text-align: left;
  left: 12vw;
  width: 36vw;
  top: 4vh;
}

.article_center{
  text-align: center;
  position: relative;
  top: 6vh;
  left: 12vw;;
  width: 34vw;
}

.article_certificates{
  position: relative;
  text-align: right;
  width: 34vw;
  right: -52.7vw;
  top: -14vh;
}
 
.title_page{
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 7vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  font-style: italic;
}

.title_left{
  text-align: left;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
}

.title_center{
  text-align: center;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
}

.title_right{
  text-align: right;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
}
 
.text_center{
 text-align: center;
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 2.2vh;
}

.text_left{
 text-align: left;
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 2.2vh;
 margin-bottom: -1.4vh;
}

.text_right{
  text-align: right;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
}

.mark_text{
  background-color: rgba(105, 105, 105, 0.575);
  color:rgb(240, 240, 240);
}

.image{
 height: 20vh;
 border-radius: 4%;
}

.social{
 position: relative;
 height: 5vh;
 border-radius: 4%;
 margin-left: 1vw;
}

.flag{
  position: relative;
  height: 2vh;
}

.social_nets{
  position: relative;
  align-items: center;
  text-align: center;
  top: 4vh;
}

*{
	box-sizing:border-box
}

.slideshow-container {
  width: 34vw;
  position: relative;
  margin: auto;
  left: 21vw;
  top: -10vh;
}

.slideshow-container2 {
  width: 34vw;
  position: relative;
  margin: auto;
  left: 21vw;
  top: -21vh;
}

.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(35, 14, 92, 0.664);
}

.text {
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vh;
  padding: 8px 12px;
  position: relative;
  bottom: 4vh;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.numbertext {
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 1.2vh;
  width: 1.2vh;
  margin-left: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.badges{
  width: 12vw;
}

.c_badges{
  position: relative;
  top: -30vh;
  left: 12vw;
  width: 34vw;
  text-align: center;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.menu_dot{
  position: relative;
  width: 34vw;
  left: 0vw;
  top: 0vh;
  text-align:center;
  margin-top: -1vh;
  margin-bottom: -8vh;
}

.video{
	width: 34vw;
	height: 19vw;
}

.video_individual{
	width: 28vw;
	height: 19vw;
}

@media screen and (max-width: 560px) {
  .article_bio{
    position: relative;
    text-align: left;
    left: 12vw;
    top: 0vh;
    width: 64vw;
    margin-top: 0vh;
   }
   
	.slideshow-container {
    width: 56vw;
    position: relative;
    margin: auto;
    left: 10vw;
    top: 13vh;
  }

  .article_projects{
    margin-top: 10vh;
    margin-bottom: 6vh;
    position: relative;
    text-align: left;
    top: 8vh;
    left: 12vw;
    width: 64vw;
   }

   .slideshow-container2 {
    width: 56vw;
    position: relative;
    margin: auto;
    left: 10vw;
    top: 5vh;
  }

   .article_certificates{
    position: relative;
    text-align: right;
    width: 64vw;
    right: -23.8vw;
    top: 9vh;
  }

   .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 38%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }

   .menu_dot{
    position: relative;
    width: 56vw;
    left: 0vw;
    top: -2.4vh;
    text-align:center;
    margin-top: -1vh;
  }

  .video{
    width: 56vw;
    height: 31.4vw;
  }

  .c_badges{
    position: relative;
    top: 9.2vh;
    left: 11vw;
    width: 64vw;
    text-align: center;
  }

  .badges{
    width: 24vw;
  }

  .social_nets{
    position: relative;
    align-items: center;
    text-align: center;
    top: 10vh;
  }

  footer{
    text-align: center;
    position: relative;
    top: 14vh;
    font-size: 1vh;
   }

   .video_individual{
    width: 60vw;
    height: 33.5vw;
  }

  .article_individual{
    position: relative;
    text-align: left;
    left: 12vw;
    width: 64vw;
    top: 4vh;
  }
}