.wrapper {
  display: flex;
  justify-content: space-between;
}
.main,
.sidebar {
  border-radius: 20px;
  border: 2px solid black;
  padding: 0px;
  background-color: #fff;
}
.main {
  text-align: center;
  width: 70%;
  height: 150vh;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  padding: 0px;
}

.image-mosaic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

#columna1{
    border: 1px solid blue;
    width: 3%;
    word-wrap: break-word;
}
#headerPerfil{
  font-family: Calibri, Candara, Arial, sans-serif;
  text-align: center;
  font-size: 260%;
}
#nombrePerfil{
  font-family: Calibri, Candara, Arial, sans-serif;
  text-align: center;
  font-size: 120%;
}
#imgPerfil{
  display: block;
  border-radius: 15vh;
  margin: auto;
  width: 30vh;
  height: 30vh;
}
#rotarTexto{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
#projectImg{
  margin: auto;
  width: 60vh;
  height: 40vh;
}
