.html,body{
  width: 97.8vw;
  scroll-behavior: smooth; 
}

#lorem{
 width: 90%;
 margin: auto;
 padding: 10px;
}

a{
 color: #FFF;
 text-decoration:underline;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
}

p{
 text-align: justify;
}

header{
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
 font-size: 7vh;
}

footer{
 text-align: center;
 position: relative;
 top: 6vh;
 font-size: 1vh;
}

.img_profile{
 width: 24vh;
 
 border-radius: 100%;
}

.article_bio{
 position: relative;
 text-align: left;
 left: 12vw;
 width: 34vw;
}

.article_projects{
  margin-top: 6vh;
  position: relative;
  text-align: left;
  left: 12vw;
  width: 34vw;
 }

.article_right{
  position: relative;
  right: 10vw;
 }
 
.title_ailr16{
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 7vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  font-style: italic;
}

.title_left{
  text-align: left;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
 }

 .title_center{
  text-align: center;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
 }
 
.text_center{
 text-align: center;
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 2.2vh;
}

.text_left{
 text-align: left;
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 2.2vh;
 margin-bottom: -1.4vh;
}

.text_right{
  text-align: right;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
 }

.mark_text{
  background-color: rgba(105, 105, 105, 0.575);
  color:rgb(240, 240, 240);
}

.image{
 height: 20vh;
 border-radius: 4%;
}

.social{
 position: relative;
 height: 5vh;
 border-radius: 4%;
 margin-left: 1vw;
}

.flag{
  position: relative;
  height: 2vh;
}

.social_nets{
  align-items: center;
  text-align: center;
}

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-38vw); }
	30% { transform: translateX(-38vw); }

	35% { transform: translateX(-76vw) }
	50% { transform: translateX(-76vw); }

	55% { transform: translateX(-114vw); }
	70% { transform: translateX(-114vw); }

	75% { transform: translateX(-152vw); }
	90% { transform: translateX(-152vw); }

	95% { transform: translateX(-190vw); }
	100% { transform: translateX(-190vw); }
}

* { box-sizing: border-box; }

.wrapper {
  position: relative;
	max-width: 34vw;
  left: 47vw;
  bottom: 13vh;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 34vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 24s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 34vw;
	vertical-align: top;
  border-radius: 4%;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 2vw;
	position: absolute;
	top: 1vw;
	right: 2vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 34vw;
	}

	.caption {
		font-size: 2vw;
		top: 1vw;
		right: 2vw;
	}
}