/*//////////////////  SMALL DISPLAYS ////////////////////// */

/* Profile section */

@media only screen and (orientation:portrait){
    header{
      color:       #FFF;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align:  center;
      font-size:   7vh;
      display:     flex;
      width: 96%;
    }
  
    .Profile_container{
      width:       50%;
      margin-left: 4%;
      margin-top:  2%;
      display:     flex;
    }
    
    .ContactAndMedia_container{
      width:       auto;
      margin-left: 2%;
      margin-top:  4vw;
      flex:        1;
    }
  
    .ContactAndMedia_img{
      height:   6vw;
     }
    
    .Profile_name{
      color:         #FFF;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      text-align:    left;
      font-size:     5vw;
      font-weight:   bold;
      margin-top:    2.8vw;
    }
    
    .Profile_career{
      color:         #FFF;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      text-align:    left;
      font-size:     3vw;
      margin-top:    -4.4vw;
    }
    
    .Profile_img{
      width:         20vw;
      float:         left;
      border-radius: 6%;
    }
  
    /* About me section */
  
    .AboutMe_container{
      margin-top: 2vw;
      width: 96%;
    }
  
    .AboutMe_text_header{
      color:         #FFF;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      text-align:    center;
      font-size:     3vw;
      font-weight:   bold;
    }
  
    .AboutMe_text{
      text-align:  center;
      color:       #FFF;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:   2vh;
      margin-top:  -2.2vw;
    }
  
    .Carousel_container{
      width:  100%;
      height: 58vw;
    }
    
    .Carousel_card{
      min-width:         92vw;
      height:            56vw;
      scroll-snap-align: start;
      display:           block;
      justify-content:   center;
      align-items:       center;
      background:        rgba(0, 0, 0, 0);
      color:             #4a544c;
      border-radius:     1%;
    }
    
    .Carousel_button_prev{
      cursor:          pointer;
      position:        relative;
      top:             -52%;
      width:           auto;
      margin-top:      1px;
      padding:         16px;
      color:           white;
      font-weight:     bold;
      font-size:       18px;
      transition:      0.6s ease;
      border-radius:   0 3px 3px 0;
      user-select:     none;
      text-decoration: none;
      margin-left:     2%;
    }
    
    .Carousel_button_next{
      cursor:          pointer;
      position:        relative;
      top:             -62%;
      width:           auto;
      margin-top:      1px;
      padding:         16px;
      color:           white;
      font-weight:     bold;
      font-size:       18px;
      transition:      0.6s ease;
      border-radius:   0 3px 3px 0;
      user-select:     none;
      text-decoration: none;
      margin-left:     92%;
    }
    
    /* Projects section */
  
    .Projects_container{
      margin-top: -4vw;
      width: 96%;
    }
  
    .Projects_text_header{
      color:         #FFF;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      text-align:    center;
      font-size:     3vw;
      font-weight:   bold;
    }
  
    .Projects_text{
      text-align:  center;
      color:       #FFF;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:   2vh;
      margin-top:  -2.2vw;
    }
  
    .ProjectsCarousel_container{
      width:  100%;
      height: 58vw;
      position: relative;
      top: -0.6vw;
    }
  
    .ProjectsCarousel_card{
      min-width:         92vw;
      height:            56vw;
      scroll-snap-align: start;
      display:           block;
      justify-content:   center;
      align-items:       center;
      background:        rgba(0, 0, 0, 0);
      color:             #4a544c;
      border-radius:     1%;
    }
  
    .ProjectsCarousel_button_prev{
      cursor:          pointer;
      position:        relative;
      top:             -52%;
      width:           auto;
      margin-top:      1px;
      padding:         16px;
      color:           white;
      font-weight:     bold;
      font-size:       18px;
      transition:      0.6s ease;
      border-radius:   0 3px 3px 0;
      user-select:     none;
      text-decoration: none;
      margin-left:     2%;
    }
  
    .ProjectsCarousel_button_next{
      cursor:          pointer;
      position:        relative;
      top:             -62%;
      width:           auto;
      margin-top:      1px;
      padding:         16px;
      color:           white;
      font-weight:     bold;
      font-size:       18px;
      transition:      0.6s ease;
      border-radius:   0 3px 3px 0;
      user-select:     none;
      text-decoration: none;
      margin-left:     92%;
    }
  
    /* Education section */
  
    .Education_container{
      width:      87.5%;
      margin-top: -4vw;
    }
  
    .Education_text_header{
      color:         #FFF;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      text-align:    center;
      font-size:     3vw;
      font-weight:   bold;
    }
  
    .Badge_container{
      position: relative;
      width:    100%;
      display:  block;
    }
  
    .Badge_card{
      color:    #4a544c;
      position: relative;
      width:    94%;
      display:  block;
      margin-top: 6vw;;
    }
  
    .Badge_image{
      color:    #4a544c;
      height:   32vw;
      position: relative;
      left:     16%;
    }
  
    .Badge_text{
      color:      #FFF;
      text-align: center;
      position:   relative;
      top:        6%;
      font-style: italic;
      size:       6vw;
    }
  
    /* Backgroudn attribution */
  
    .BackgroundAttrib_container{
      width:      96%;
      margin-top: 12vw;
      display:    inline-block;
    }
  
    .BackgroundAttrib_text{
      color:         #FFF;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      text-align:    center;
      font-size:     2vw;
      font-style:    italic;
    }
  
    /* Styles for individual projects pages */
  
    .ProjectDetails_header{
      width:      96%;
      text-align: center;
    }
  
    .ProjectDetails_title{
      color:         #FFF;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      text-align:    center;
      font-size:     6vw;
      font-style:    italic;
      font-weight:   bold;
    }
  
    .ProjectDetails_info_container{
      width:   96%;
      display: flex;
    }
  
    .ProjectDetails_info_section{
      position:    relative;
      width:       96%;
      text-align:  right;
      color:       #FFF;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:   5vw;
      margin-top:  4vw;
    }
  
    .ProjectDetails_info_title{
      font-style:  italic;
      text-align:  right;
    }
  
    .ProjectDetails_media_section{
      width:    96%;
      position: relative;
      left:     2%;
    }
  
    .ProjectDetails_media_video_wide{
      width:   23vh;
      height:  32vh;
    }
  
    .ProjectDetails_media_video_vertical{
      width:   22.5vh;
      height:  40vh;
    }
  
    .ProjectDetails_media_image{
      width:   25vh;
    }
  }