.html,body{
  scroll-behavior: smooth;
  overflow-x:      hidden;
  margin-left:     auto;
  margin-right:    auto;
}

a{
  color:     #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:  center;
}
 
header{
  color:     #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:  center;
  font-size:   7vh;
  display:     flex;
}

.Profile_container{
  width:       40%;
  margin-left: 16%;
  margin-top:  2%;
  display:     flex;
}

.ContactAndMedia_container{
  width:       auto;
  margin-left: 2%;
  margin-top:  4%;
  flex:        1;
}

.Profile_container_img{
  flex-shrink: 0;
}

.Profile_container_content{
  flex-grow:   1;
  margin-left: 2%;
}

.ContactAndMedia_content{
  margin-left: 1%;
  margin-top:  -1vh;
}

.ContactAndMedia_img{
  height:   4.2vh;
 }

.Profile_name{
  color:         #FFF;
  font-family:   Verdana, Geneva, Tahoma, sans-serif;
  text-align:    left;
  font-size:     2vw;
  font-weight:   bold;
  margin-top:    1.4vw;
}

.Profile_career{
  color:         #FFF;
  font-family:   Verdana, Geneva, Tahoma, sans-serif;
  text-align:    left;
  font-size:     1.2vw;
  margin-top:    -2vw;
}

.Profile_img{
  width:         6vw;
  float:         left;
  border-radius: 6%;
}

.AboutMe_container{
  margin-top: 1vw;
}

.AboutMe_text_header{
  color:         #FFF;
  font-family:   Verdana, Geneva, Tahoma, sans-serif;
  text-align:    center;
  font-size:     0.9vw;
  font-weight:   bold;
}

.AboutMe_text{
  text-align: center;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
  margin-top: -0.9vw;
 }

.Projects_container{
  margin-top: 6vh;
}

.Projects_text_header{
  color:         #FFF;
  font-family:   Verdana, Geneva, Tahoma, sans-serif;
  text-align:    center;
  font-size:     2.4vh;
  font-style:    italic;
  font-weight:   bold;
  margin-bottom: -1vh;
}

.Carousel_container{
  width:  100%;
  height: 336px;
}

.Carousel_card_container{
  width:      100%;
  display:    flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 8px;
  width: calc(100% - 16px);
  margin: 8px;
  flex: 0 0 calc(100% - 16px);
}

.Carousel_card_container::-webkit-scrollbar {
  display: none;
}

.Carousel_card{
  min-width: 384px;
  height:    240px;
  scroll-snap-align: start;
  display: block;
  justify-content: center;
  align-items: center;
  background:rgba(0, 0, 0, 0);
  border: 1px solid rgba(79, 88, 115, 0.24);
  color: #4a544c;
  border-radius: 8px;
}

.Carousel_card:hover {
  background: rgba(25, 36, 66, 0.212);
}

.Carousel_button_prev{
  cursor: pointer;
  position: relative;
  top: -42%;
  width: auto;
  margin-top: 1px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  margin-left: 1%;
}

.Carousel_button_next{
  cursor: pointer;
  position: relative;
  top: -49%;
  width: auto;
  margin-top: 1px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  margin-left: 97%;
}

.Carousel_image{
	position: relative;
  left: 5%;
  top: 5%;
  width: 90%;
}

.Carousel_video{
	position: relative;
  width: 90%;
	height: 88%;
  left: 5%;
}

.Carousel_text{
	width: 100%;
  position: relative;
  text-align: center;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:     90%;
  font-style:    italic;
}

p{
 text-align: justify;
}


footer{
 text-align: center;
 position: relative;
 top: -2vh;
 font-size: 1vh;
}


.imgAtrib{
    color:#FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 1.2vh;
  }

  .igText{
    color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2vh;
  margin-top: 4vh;
  margin-bottom: 1vh;
  }


.article_bio{
 position: relative;
 text-align: left;
 left: 12vw;
 top: 14vh;
 width: 34vw;
 margin-bottom: -0vh;
 margin-top: -3vh;
}

.article_projects{
  margin-top: 5vh;
  position: relative;
  text-align: left;
  left: 12vw;
  width: 36vw;
  top: -4vh;
}

.article_individual{
  position: relative;
  text-align: left;
  left: 12vw;
  width: 36vw;
  top: 4vh;
  bottom: 16vh;
}

.article_individual_repo{
  position: relative;
  text-align: left;
  left: 12vw;
  width: 36vw;
  top: 6vh;
  bottom: 24vh;
}

.article_center{
  text-align: center;
  position: relative;
  top: 6vh;
  left: 12vw;;
  width: 34vw;
}

.article_education{
  position: relative;
  text-align: right;
  width: 34vw;
  right: -52.7vw;
  top: -4vh;
}

.c_schools{
  position: relative;
  top: -20vh;
  left: 12vw;
  width: 34vw;
  text-align: center;
}

.article_certificates{
  position: relative;
  text-align: right;
  width: 34vw;
  right: -52.7vw;
  top: -18vh;
}

.article_media{
 position: relative;
 text-align: left;
 width: 34vw;
 left: 12vw;
 top: 4vh;
}

.c_media{
 position: relative;
 top: -10vh;
 left: 54vw;
 width: 34vw;
 text-align: center;
}
 
.title_left{
  text-align: left;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
}

.title_center{
  text-align: center;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
}

.title_right{
  text-align: right;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.4vh;
  font-style: italic;
  margin-bottom: -1.4vh;
}
 
.text_center{
 text-align: center;
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 2.2vh;
}

.text_left{
 text-align: left;
 color:#FFF;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 2.2vh;
 margin-bottom: -1.4vh;
}

.text_right{
  text-align: right;
  color:#FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
}

.mark_text{
  background-color: rgba(105, 105, 105, 0.575);
  color:rgb(240, 240, 240);
}

.image{
 height: 20vh;
 border-radius: 4%;
}

.flag{
  position: relative;
  height: 2vh;
}

.social_nets{
  position: relative;
  align-items: center;
  text-align: center;
  top: -20vh;
}

*{
	box-sizing:border-box
}

.slideshow-container {
  width: 34vw;
  position: relative;
  margin: auto;
  left: 21vw;
  top: -10vh;
}

.slideshow-container2 {
  width: 34vw;
  position: relative;
  margin: auto;
  left: 21vw;
  top: -32vh;
}

.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(35, 14, 92, 0.664);
}

.text {
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2vh;
  padding: 8px 12px;
  position: relative;
  bottom: 4vh;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.numbertext {
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 1.2vh;
  width: 1.2vh;
  margin-left: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.badges{
  width: 12vw;
}

.c_badges{
  position: relative;
  top: -34vh;
  left: 12vw;
  width: 34vw;
  text-align: center;
}

.schools{
  height: 20vh;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.menu_dot{
  position: relative;
  width: 34vw;
  left: 0vw;
  top: 0vh;
  text-align:center;
  margin-top: -1vh;
  margin-bottom: -8vh;
}

.video_individual{
	width: 28vw;
	height: 19vw;
}

@media screen and (max-width: 560px) {
  .article_bio{
    position: relative;
    text-align: left;
    left: 12vw;
    top: 0vh;
    width: 64vw;
    margin-top: 0vh;
   }
   
	.slideshow-container {
    width: 56vw;
    position: relative;
    margin: auto;
    left: 10vw;
    top: 13vh;
  }

  .article_education{
    position: relative;
    text-align: right;
    width: 64vw;
    right: -23.8vw;
    top: 9vh;
  }

  .c_schools{
    position: relative;
    top: 9.2vh;
    left: 11vw;
    width: 64vw;
    text-align: center;
  }

  .schools{
    height: 20vh;
  }

  .article_projects{
    margin-top: 10vh;
    margin-bottom: 6vh;
    position: relative;
    text-align: left;
    top: 8vh;
    left: 12vw;
    width: 64vw;
   }

   .article_media{
    position: relative;
    text-align: right;
    width: 48vw;
    left: 38vw;
    top: 4vh;
   }

   .c_media{
    position: relative;
    top: 8vh;
    left: 11vw;
    width: 46vw;
    text-align: left;
   }

   .slideshow-container2 {
    width: 56vw;
    position: relative;
    margin: auto;
    left: 10vw;
    top: 5vh;
  }

   .article_certificates{
    position: relative;
    text-align: right;
    width: 64vw;
    right: -23.8vw;
    top: 9vh;
  }

   .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 38%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }

   .menu_dot{
    position: relative;
    width: 56vw;
    left: 0vw;
    top: -2.4vh;
    text-align:center;
    margin-top: -1vh;
  }

  .video{
    width: 56vw;
    height: 31.4vw;
  }

  .c_badges{
    position: relative;
    top: 9.2vh;
    left: 11vw;
    width: 64vw;
    text-align: center;
  }

  .badges{
    width: 24vw;
  }

  .social_nets{
    position: relative;
    align-items: center;
    text-align: center;
    top: 10vh;
    bottom: 16vh;
  }

  footer{
    text-align: center;
    position: relative;
    top: 10vh;
    font-size: 1vh;
   }

   .video_individual{
    width: 60vw;
    height: 33.5vw;
  }

  .article_individual{
    position: relative;
    text-align: left;
    left: 12vw;
    width: 64vw;
    top: 4vh;
  }

  .article_individual_repo{
    position: relative;
    text-align: left;
    left: 12vw;
    width: 64vw;
    top: 14vh;
    bottom: 1vh;
  }
}
