/* 
  Styles for non-vertical screen
*/

/******** General Styles (Applies for all pages) ********/

.html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
}

/* Links */
a {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.mark_text {
  background-color: rgba(105, 105, 105, 0.281);
  color: rgb(240, 240, 240);
}

/* MX flag gif */
.Flag_gif {
  position: relative;
  height: 2vh;
}

/*******************************************************/

.AboutMe_header {
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #384246;
  color: #FFF;
}

.AboutMe_content {
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #89714E;
  color: #FFF;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.Projects_header {
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #384246;
  color: #FFF;
}

.Projects_content {
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #89714E;
  color: #FFF;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.Education_header {
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #384246;
  color: #FFF;
}

.Education_content {
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  background-color: #89714E;
  color: #FFF;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/******************** Index Styles *********************/

/* ////// All related to profile header ////// */

/* Text style for name and job title */
header {
  width: 100%;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 7vh;
}

/* Text style for name and job title */
.Profile_container {
  width: 100%;
  margin-top: 1%;
  display: inline-block;
  text-align: center;
}

/* Profile image */
.Profile_container_imgContainer {
  flex-shrink: 0;
}

.Profile_container_imgContainer_img {
  width: 12%;
  border-radius: 50%;
}

.Profile_container_id {
  margin-top: -1.6vw;
}

.Profile_container_id_name {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.8vw;
  font-weight: bold;
}

.Profile_container_id_career {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.1vw;
  margin-top: -1.6vw;
}

.Profile_container_contactAndMedia {
  
  text-align: center;
  margin-top: -2%; 
  margin-bottom: 2%;
}

.Profile_container_contactAndMedia_content_icon {
  height: 3vh;
  display: inline-block;
}

/* ////// END profile header ////// */


/* ////// All related to About Me section ////// */

/* About me section */
.AboutMe_container {
  margin-top: 1vw;
}

.AboutMe_container_sectionTitle {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.9vw;
  font-weight: bold;
}

.AboutMe_container_text {
  text-align: center;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
  margin-top: -0.9vw;
}

.AboutMe_container_carouselContainer {
  width: 100%;
  height: 260px;
}

.AboutMe_container_carouselContainer_cardContainer {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 8px;
  width: calc(100% - 16px);
  margin: 8px;
  flex: 0 0 calc(100% - 16px);
}

.AboutMe_container_carouselContainer_cardContainer::-webkit-scrollbar {
  display: none;
}

.AboutMe_container_carouselContainer_cardContainer_card {
  min-width: 384px;
  height: 240px;
  scroll-snap-align: start;
  display: block;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  color: #4a544c;
  border-radius: 1%;
}

.AboutMe_container_carouselContainer_cardContainer_card:hover {
  background: rgba(167, 143, 8, 0.63);
}

.AboutMe_container_carouselContainer_buttonPrev {
  cursor: pointer;
  position: relative;
  top: -52%;
  width: auto;
  margin-top: 1px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  margin-left: 1%;
}

.AboutMe_container_carouselContainer_buttonNext {
  cursor: pointer;
  position: relative;
  top: -60%;
  width: auto;
  margin-top: 1px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  margin-left: 97%;
}

.AboutMe_container_carouselContainer_buttonPrev:hover,
.AboutMe_container_carouselContainer_buttonNext:hover {
  background-color: rgba(35, 14, 92, 0.664);
}

.AboutMe_container_carouselContainer_cardContainer_card_img {
  position: relative;
  left: 5%;
  top: 5%;
  width: 90%;
}

.AboutMe_container_carouselContainer_cardContainer_card_vid {
  position: relative;
  width: 89%;
  height: 80%;
  left: 5%;
  top: 5%;
}

.AboutMe_container_carouselContainer_cardContainer_card_text {
  width: 100%;
  position: relative;
  text-align: center;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  font-style: italic;
}

/* ////// END About Me ////// */


/* ////// All related to Projects section ////// */
.Projects_container {
  margin-top: -0.6vw;
}

.Projects_container_sectionTitle {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.9vw;
  font-weight: bold;
}

.Projects_text {
  text-align: center;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh;
  margin-top: -0.9vw;
}

.Projects_container_carouselContainer {
  width: 100%;
  height: 260px;
  position: relative;
  top: -0.6vw;
}

.Projects_container_carouselContainer_cardContainer {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 8px;
  width: calc(100% - 16px);
  margin: 8px;
  flex: 0 0 calc(100% - 16px);
}

.Projects_container_carouselContainer_cardContainer::-webkit-scrollbar {
  display: none;
}

.Projects_container_carouselContainer_cardContainer_card {
  min-width: 384px;
  height: 240px;
  scroll-snap-align: start;
  display: block;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  color: #4a544c;
  border-radius: 1%;
}

.Projects_container_carouselContainer_cardContainer_card:hover {
  background: rgba(167, 143, 8, 0.63);
}

.Projects_container_carouselContainer_cardContainer_buttonPrev {
  cursor: pointer;
  position: relative;
  top: -47%;
  width: auto;
  margin-top: 1px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  margin-left: 1%;
}

.Projects_container_carouselContainer_cardContainer_buttonNext {
  cursor: pointer;
  position: relative;
  top: -55%;
  width: auto;
  margin-top: 1px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  margin-left: 97%;
}

.Projects_container_carouselContainer_cardContainer_buttonPrev:hover,
.Projects_container_carouselContainer_cardContainer_buttonNext:hover {
  background-color: rgba(35, 14, 92, 0.664);
}

.Projects_container_carouselContainer_cardContainer_card_img {
  position: relative;
  left: 5%;
  top: 5%;
  width: 90%;
}

.Projects_container_carouselContainer_cardContainer_card_vid {
  position: relative;
  width: 89%;
  height: 80%;
  left: 5%;
  top: 5%;
}

.Projects_container_carouselContainer_cardContainer_card_text {
  width: 100%;
  position: relative;
  text-align: center;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  font-style: italic;
}

p {
  text-align: justify;
}

/* ////// END Projects ////// */



/* ////// All related to Projects section ////// */
.Education_container {
  width: 100%;
  margin-top: 1vw;
  display: inline-block;
}

.Education_container_title {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.9vw;
  font-weight: bold;
}

.Education_container_badgeContainer {
  position: relative;
  width: 100%;
  display: flex;
  left: 5%;
}

.Education_container_badgeContainer_card {
  color: #4a544c;
  position: relative;
  width: 15%;
}

.Education_container_badgeContainer_card_img {
  color: #4a544c;
  height: 6vw;
  position: relative;
  left: 16%;
}

.Education_container_badgeContainer_card_text {
  color: #FFF;
  text-align: center;
  position: relative;
  top: 6%;
  font-style: italic;
}

/* ////// END Education ////// */

/* Background attribution */
.BackgroundAttrib_container {
  width: 100%;
  margin-top: 2vw;
  display: inline-block;
}

.BackgroundAttrib_text {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.6vw;
  font-style: italic;
}

/*******************************************************/

/* Styles for individual projects pages */

.ProjectDetails_header {
  width: 100%;
  text-align: center;
}

.ProjectDetails_title {
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2vw;
  font-style: italic;
  font-weight: bold;
}

.ProjectDetails_info_container {
  width: 100%;
  display: flex;
}

.ProjectDetails_info_section {
  position: relative;
  width: 100%;
  text-align: right;
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  margin-top: 4vw;
}

.ProjectDetails_info_title {
  font-style: italic;
  text-align: right;
}

.ProjectDetails_media_section {
  width: 100%;
  position: relative;
  left: 2%;
}

.ProjectDetails_media_video_wide {
  width: 24vw;
  height: 13.5vw;
}

.ProjectDetails_media_video_vertical {
  width: 13.5vw;
  height: 24vw;
}

.ProjectDetails_media_image {
  width: 20vw;
}

.ProjectDetails_ret_index {
  font-style: italic;
  text-align: right;
  color: rgb(134, 116, 39);
}

.ProjectDetails_ret_index:hover {
  font-style: italic;
  text-align: right;
  font-weight: bold;
  color: rgb(189, 156, 12);
}

* {
  box-sizing: border-box;
}
